html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
nav, .content, footer {
    width: 80%;
    margin: auto;
}
nav {
    background: black;
}
.content {
    background: gray;
}
footer {
    background: gray;
    border-top: black solid 2px;
}
