html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
nav, .content, footer {
    width: 80%;
    margin: auto;
}
body {
    font-family: Helvetica, Arial, Sans-Serif;
}
/* NAV */
nav {
    background: #747A8A;
    padding: 5px;
    overflow: auto;
}
h1, .icon, nav ul, nav li {
    display: inline-block;
}
nav h1 {
    font-weight: bold;
}
.icon {
    border: white solid 1px;
    color: white;
    padding: 2px;
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
nav li {
    padding-left: 15px;
    list-style: none;
}
nav li:after {
    color: white;
    content: "|"
}
nav a {
    padding-right: 15px;
    color: black;
    text-decoration: none;
}
nav a:hover {
    color: white;
}
nav a:active {
    color: #B4BED6;
}
.account {
    float: right;
}
/* CONTENT */
.content {
    background: #EDF1F5;
    padding: 20px 5px;
}
.content ol {
    padding-left: 40px;
    margin-right: 0px;
}
.content li {
    list-style: decimal;
    padding-top: 5px;
}
.content li:nth-of-type(2n+1) {
    background: inherit;
}
.content li:nth-of-type(2n) {
    background: #CFD3D6;
}
.content a {
    color: black;
    text-decoration: none;
}
.content a:hover {
    color: #7F7E7A;
    text-decoration: underline;
}
.content li a:last-of-type {
    color: #7F7E7A;
    font-size: .75em;
}
.content li a:active, .content li a:last-of-type:active{
    color: #474B66;
    text-decoration: underline;
}
.content p {
    color: #7F7E7A;
    font-size: .6em;
    padding-left: 15px;
}
.content p:first-of-type {
    padding-top: 2px;
}
.content p:last-of-type {
    padding-bottom: 5px;
}
.content li:before {
    content: url(https://raw.githubusercontent.com/TIY-LR-FEE-2015-June/assignments/develop/1.3-iron-news/assets/images/grayarrow.gif);
}
.content li div {
    display: inline;
}
/* FOOTER */
footer {
    background: #EDF1F5;
    border-top: #747A8A solid 2px;
    padding: 20px 5px;
}
.footer-links {
    width: 80%;
    max-width: 900px;
    margin: auto;
    text-align: center;
}
.footer-links li {
    padding-left: 5px;
    list-style: none;
    display: inline-block;
}
.footer-links li:after {
    color: black;
    content: "|";
}
.footer-links li:last-of-type:after {
    content: none;
}
.footer-links a {
    color: black;
    text-decoration: none;
    padding-right: 15px;
}
.footer-links a:hover {
    color: #747A8A;
}
.search {
    width: 20%;
    margin: auto;
    padding-top: 20px;
}
.search p {
    text-align: center;
}
.search input {
    width: 100%;
}
